# /!\ Ne pas mettre de donnees sensibles dans ce fichier /!\
# Variables lues par AppConfig
APP_NAME=Econoris
AUTH_URL=http://localhost:26001
DATA_URL=http://localhost:26002
LOCALIZATION=fr_FR

APP_PORT=26003 # Utilisé uniquement pour le développement  Web local, pas nécessaire en production ni pour les builds mobiles.
